@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700&family=Oxygen+Mono&family=Oxygen:wght@300;400;700&display=swap");

body {
  @apply text-slate-700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

hr {
  @apply h-px bg-gradient-to-r from-primary-100 to-secondary-900;
}

.magnolia-richtext > p {
  margin-bottom: 1rem;
}

.magnolia-richtext > p:last-child {
  margin-bottom: 0px;
}

.clip-text-to-gradient {
  @apply text-transparent bg-clip-text;
}

.gradient-text {
  @apply text-transparent bg-clip-text bg-gradient-to-l from-primary-100 to-secondary-900;
}

.landing-gradient-text {
  @apply text-transparent bg-clip-text bg-gradient-to-l from-primary-100 to-secondary-900;
}

.hero-gradient-text {
  @apply text-transparent bg-clip-text bg-gradient-to-l from-hero-pink to-hero-purple;
}

.hover-gradient-text:hover {
  @apply text-transparent bg-clip-text bg-gradient-to-l from-primary-100 to-secondary-900;
}

.impact strong {
  /* @apply text-transparent bg-clip-text bg-gradient-to-r from-primary-100 to-secondary-900; */
  @apply font-extrabold underline text-secondary-900;
}

.main-content > .magnolia_image.fullwidth-false {
  @apply container mx-auto mb-24 lg:mb-36;
}

.main-content > .magnolia_image.fullwidth-true {
  @apply mb-24 lg:mb-36;
}

.background-section > .magnolia_image {
  @apply mb-24 lg:mb-36;
}

.prose ul > li {
  @apply leading-10 text-md;
}

.indiana-scroll-container {
  overflow: auto;
}
.indiana-scroll-container--dragging {
  scroll-behavior: auto !important;
}
.indiana-scroll-container--dragging > * {
  pointer-events: none;
  cursor: url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==),
    auto;
}
.indiana-scroll-container--hide-scrollbars {
  overflow: hidden;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.indiana-scroll-container--hide-scrollbars::-webkit-scrollbar {
  display: none !important;
  height: 0 !important;
  width: 0 !important;
  background: transparent !important;
  -webkit-appearance: none !important;
}
.indiana-scroll-container--native-scroll {
  overflow: auto;
}

html.locked__ {
  overflow: hidden;
}

html * {
  --cursorsscale: 1;
  cursor: url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==),
    auto !important;
}

html.ineditor * {
  --cursorscale: 1;
  cursor: default !important;
}

@media (pointer: coarse) {
  html * {
    --cursorsscale: 1;
    cursor: auto;
  }
}

.dotfusion-dragging {
  cursor: grab;
}

#gradient-canvas {
  width: 100%;
  height: 100%;
  --gradient-colors: #ffffff, #f9e3eb, #d8c7f3, #f8dde6;
  --gradient-color-1: #c3e4ff;
  --gradient-color-2: #6ec3f4;
  --gradient-color-3: #eae2ff;
  --gradient-color-4: #b9beff;
}

.navBlur {
  width: 100vw;
  /* width: calc(100% - 6px); */
  backdrop-filter: blur(15px);
}

.navBlurLanding {
  backdrop-filter: blur(15px);
}

/************ Input style for transition on form ************/
.input-container:focus-within label {
  transform: translate(0, 12px) scale(0.55);
  color: #35206c;
  font-family: Bitter, sans-serif;
}

.input-container .filled {
  transform: translate(0, 12px) scale(0.55);
  color: #7e6ca1;
  font-family: Bitter, sans-serif;
  margin-bottom: 10px;
}

.input-container label {
  position: absolute;
  transform: translate(0, 14px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  font-size: 32px;
}

@media (max-width: 640px) {
  .input-container label {
    transform: translate(0, 28px) scale(1);
    font-size: 24px;
  }
}

.input-container input {
  padding: 24px 16px 5px 0px;
  outline: none;
  box-shadow: none;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  z-index: 1000;
}

.formStyle input {
  border-radius: 0;
  -webkit-border-radius: 0;
}

.formStyle input[type="submit"] {
  -webkit-appearance: none;
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to left, var(--tw-gradient-stops));
  --tw-gradient-from: #d63f61;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgb(214 63 97 / 0));
  --tw-gradient-to: #35206c;
}

.formStyle input:autofill {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to left, var(--tw-gradient-stops));
  --tw-gradient-from: #d63f61;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgb(214 63 97 / 0));
  --tw-gradient-to: #35206c;
} */

/********** Input style for transition on form ends ***********/

/************** Animation for the line wave **************/
.input-container .wave {
  content: "";
  position: absolute;
  pointer-events: none;
  left: 0;
  right: 0;
  bottom: -24px;
  height: 80px;
  width: 300%;
  opacity: 0.1;
  -webkit-transform: translateX(-66.66%);
  -ms-transform: translateX(-66.66%);
  transform: translateX(-66.66%);
  background-position: bottom;
  -webkit-transition: opacity 0.7s cubic-bezier(0, 0.25, 0.5, 1),
    -webkit-transform 0.7s cubic-bezier(0, 0.25, 0.5, 1);
  transition: transform 0.7s, opacity 0.7s, -webkit-transform 0.7s;
  -o-transition: transform 0.7s cubic-bezier(0, 0.25, 0.5, 1),
    opacity 0.7s cubic-bezier(0, 0.25, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.input-container:focus-within .wave {
  opacity: 1;
  transform: translateX(0);
}
/*************** Animation for the line wave ends ******************/

.slick-slide {
  outline: none;
  border-color: transparent;
  border: none;
}

.slick-slider:focus {
  outline: 0;
}

.slick-track {
  min-width: 30000px;
  margin-left: auto;
  transform: translate3d(-1380px, 0px, 0px);
}

.timeline .slick-next {
  right: 0;
}

/****************  React-slick case study page *****************/
.caseStudyPage .slick-slide > div {
  margin-left: 0;
}

.caseStudyPage .slick-initialized .slick-slide:nth-of-type(1) {
  margin-left: 0;
}

.caseStudyPage .slick-track {
  min-width: 20000px;
  margin-left: auto;
  transform: translate3d(-1380px, 0px, 0px);
}

.caseStudyPage .slick-prev:before {
  cursor: not-allowed;
  display: none;
}

.caseStudyPage .slick-next:before {
  cursor: not-allowed;
  content: "";
  display: none;
}

.caseStudyPage .slick-slide {
  max-width: 260px;
  min-width: 260px;
  border-bottom-color: transparent;
  outline: none;
}

.caseStudyPage .slick-initialized .slick-slide {
  margin: 0 65px;
}
/* ************* React-slick case study page Ends **************** / */

/************ MobileOurLatestWork React Slick Styling ************/
.mobileOurLatestWork .slick-slide > div {
  margin-left: 0;
}

.mobileOurLatestWork .slick-initialized .slick-slide:nth-of-type(1) {
  margin-left: 0;
}

.mobileOurLatestWork .slick-track {
  min-width: 6000px;
  margin-left: auto;
  transform: translate3d(-1380px, 0px, 0px);
}

.mobileOurLatestWork .slick-prev:before {
  cursor: not-allowed;
  display: none;
}

.mobileOurLatestWork .slick-next:before {
  cursor: not-allowed;
  content: "";
  display: none;
}

.mobileOurLatestWork .slick-slide {
  max-width: 750px;
  min-width: 650px;
}

.mobileOurLatestWork .slick-initialized .slick-slide {
  margin: 0 8px;
}

@media (max-width: 640px) {
  .mobileOurLatestWork .slick-track {
    min-width: 6000px;
    margin-left: auto;
    transform: translate3d(-1380px, 0px, 0px);
  }
}

@media (max-width: 640px) {
  .mobileOurLatestWork .slick-slide {
    max-width: 342px;
    min-width: 342px;
  }
}

@media (max-width: 640px) {
  .mobileOurLatestWork .slick-initialized .slick-slide {
    margin: 0 8px;
  }
}
/* ************ / MobileOurLatestWork React Slick Ends *********** / */

/* ************* / Mobile Testimonial React Slick ************* / */
.mobileTestimonial .slick-slide {
  max-width: 700px;
  min-width: 700px;
}

.mobileTestimonial .slick-initialized .slick-slide {
  margin: 0 20px;
}

@media (max-width: 640px) {
  .mobileTestimonial .slick-slide {
    max-width: 337px;
    min-width: 337px;
  }
}
/* *********** / Mobile Testimonial React Slickk Ends ************* / */

.timeline button.slick-arrow.slick-next:before {
  display: none;
}

.navBarFixes {
  padding-bottom: env(safe-area-inset-bottom);
  min-height: -webkit-fill-available;
}
